.card {
  width: 1440px;
  margin: 96px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 95px;
  font-family: $font-style;
  color: $main-color;

  @include tablet {
    width: 800px;
    gap: 20px;
  }

  @include mobile {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }

  &__box {
    width: 380px;

    @include mobile {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__image {
    width: 505px;
    height: 330px;
  }

  &__title {
    font-size: 42px;
    font-weight: 700;
    line-height: 50.4px;
    margin-bottom: 24px;
  }

  &__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 32px;
  }

  &__button {
    &--restart {
      align-self: flex-end;
      background-color: beige;
    }
  }

  // Popup
  &__popup {
    visibility: hidden;
    font-family: $font-style;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 260px;
    top: 375px;
    width: 920px;
    height: 210px;
    padding: 56px 95px;
    z-index: 2;


    @include tablet {
      width: 555px;
      height: 180px;
      padding: 50px 50px;
    }

    @include mobile {
      top: 681px;
      left: 160px;
      width: 385px;
      height: 180px;
      padding: 50px 50px;
    }

    &--close {
      align-self: flex-end;
      font-size: 20px;
    }

    &--title {
      font-size: 42px;
      font-weight: 700;
      line-height: 50.4px;
      margin-bottom: 24px;
    }

    &--text {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      margin-bottom: 24px;
    }

    &--error {
      font-size: 14px;
      color: $primary-1;
      font-weight: 600;
      align-self: flex-end;
      margin-bottom: 24px;
    }
  }
}

.show {
  visibility: visible;
}

.active {
  box-shadow: 5px 0 10px #655A54;
  background-color: $primary-1;
}

.background {
  width:100%;
  height: 100%;
  z-index: 1;
  background-color: #12121210;
  opacity: 0.5;
}